@model IEnumerable<OutputCache.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table border="1">
    <tr>
        <td colspan="5">Eployee List Retrived @@ @DateTime.Now.ToString()</td>
    </tr>
</table>

<table class="table" border="1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Departmentid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Departmentid)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.employeeid }) |
            @Html.ActionLink("Details", "Details", new { id=item.employeeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.employeeid })
        </td>
    </tr>
}

</table>
@Html.Action("child");